{
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [
        ".prettierrc"
      ],
      "options": {
        "parser": "json"
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
